<div class="banner">
  <div class="logo justify-content-center image-fluid">
  </div>
  <div class="short-bio col">
    <h1>CHING-YEE LAW</h1>
    <h2>FRONTEND DEVELOPER | ALSO KNOWN AS <strong>CHII</strong></h2>
    <p>google "cyee2012" to find me elsewehere...or click on the icons below</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/cyee3012/"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/cyee3012/"><i class="fab fa-github-alt"></i></a>
      <i class="fa fa-envelope" onClick="alert('Say hello to me! My email is cyee3012@hotmail.co.uk :)')"></i>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="justify-content-center">
    <div class=" projects col">
      <div class="project-header">
        <h2>&#x25B8; <i class="far fa-folder"></i> PROJECTS</h2>
      </div>
      <div class="project-list">
        <% data.products.each_with_index do | product, index|  %>
         <ul class="nav-item" role="Projects">
            <h3><i class="far fa-file"></i> <%= product.name %> <a href="<%= product.url %>"><i class="fas fa-external-link-alt"></i></a></h3>
            <p><%= product.description %></p>
            <div class="images">
              <img id="project-img" src="<%= product.image1 %>">
              <img id="project-img" src="<%= product.image2 %>">
              <img id="project-img" src="<%= product.image3 %>">
              <% if product.image4? %>
                <img id="project-img" src="<%= product.image4 %>">
              <% end %>
            </div>
          </ul>
        <% end %>
      </div>
    </div>
    <p>You've reached the bottom of my site. Just wanted to add some text because I felt like something was missing down here. Are you still reading? Wow...well thank you for making it this far and visiting! </p>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="model-content" id="img">
</div>
