<div class="banner">
  <div class="short-bio col">
    <h1>&#x25BE; <i class="far fa-folder-open"></i> CHING-YEE LAW</h1>
    <h2>&nbsp; &nbsp;<i class="far fa-address-card"></i> FRONTEND DEVELOPER | ALSO KNOWN AS <strong>CHII</strong></h2>
    <h4>&#x25BE; <i class="far fa-folder-open"></i> RESUME</h4>
    <p>&ensp; &ensp;<i class="far fa-file"></i> chiis_cv.pdf <a href="https://res.cloudinary.com/cyee3012/image/upload/v1621521427/Chii_Law_Resume_20-05-2021-01-23-39-pdf_hhbkgm.jpg"><i class="fas fa-external-link-alt"></i></a></p>
  </div>
</div>
<br>
<div class="container">
  <div class="justify-content-center">
    <div class=" projects col">
      <div class="project-header">
        <h2>&#x25B8; <i class="far fa-folder"></i> PROJECTS</h2>
      </div>
      <div class="project-list">
        <% data.products.each_with_index do | product, index|  %>
         <ul class="nav-item" role="Projects">
            <h3><i class="far fa-file"></i> <%= product.name %> <a href="<%= product.url %>"><i class="fas fa-external-link-alt"></i></a></h3>
            <p><%= product.description %></p>
            <div class="images">
              <img id="project-img" src="<%= product.image1 %>">
              <% if product.image2? %>
              <img id="project-img" src="<%= product.image2 %>">
              <% end %>
              <% if product.image3? %>
                <img id="project-img" src="<%= product.image3 %>">
              <% end %>
              <% if product.image4? %>
                <img id="project-img" src="<%= product.image4 %>">
              <% end %>
            </div>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="social-icons">
      <h4>&#x25BE; <i class="far fa-folder-open"></i> SOCIALS</h4>
      <div class="icon-row">
        <p onClick="alert('Say hello to me! My email is cyee3012@hotmail.co.uk :)')"><i class="fa fa-envelope"></i>email</p><br>
        <a href="https://github.com/cyee3012/">
          <p><i class="fab fa-github-alt"></i>github</p>
        </a> <br>
        <a href="https://www.linkedin.com/in/cyee3012/">
          <p><i class="fab fa-linkedin"></i>linkedin</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="model-content" id="img">
</div>
